[Unit]
Description=Standupper service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/jasper/gitRepos/standupper/main.py

[Install]
WantedBy=multi-user.target